#fileIcon:hover {
    -fx-cursor: hand;
}

#updateButton:hover {
    -fx-cursor: hand;
}

#updateButton {
    -fx-background-color: #333132;
    -fx-background-radius: 15px;
    -fx-text-fill: #ffffff;
    -fx-cursor: hand
}

#reportTrashUse:hover {
    -fx-cursor: hand;
}

#googleTrash:hover {
    -fx-cursor: hand;
}

#involvesTrash:hover {
    -fx-cursor: hand;
}